<footer>
    <div class="row">

            <div id="footer-col-1" class="large-4 columns">
        <a href="http://www.guardforlife.com/refer/" class="button bg-green">
          Refer A Friend
        </a>

        <div class="social">
          <a href="http://www.facebook.com/guardforlife" target="_blank" class="facebook">
            <span>Facebook</span>
          </a>
          <a href="http://www.twitter.com/guardforlife" target="_blank" class="twitter">
            <span>Twitter</span>
          </a>
          <a href="http://www.linkedin.com/groups/Guard-Life-GuardforLife-2752349" target="_blank" class="linkedin">
            <span>LinkedIn</span>
          </a>
          <a href="http://www.youtube.com/channel/UCpHIbAdKZBcWCbFO2VL-SXg?feature=watch" target="_blank" class="youtube">
            <span>YouTube</span>
          </a>
        </div>

      </div>

      <div id="footer-col-2" class="large-4 columns">
        <h3>Training Info</h3>
        <ul>
          <li><a href="/get-trained">What should I take?</a></li>
          <li><a href="/options">Class Types</a></li>
          <li><a href="/about">About GFL Training</a></li>
        </ul>
        <a href="/#register" class="button bg-red">REGISTER</a>
      </div>

      <div id="footer-col-3" class="large-4 columns">
        <h3>On Guardforlife.com</h3>
        <ul>
          <li><a href="http://www.guardforlife.com/contact-us/" target="_blank">Find a location</a></li>
          <li><a href="http://www.guardforlife.com/find-a-job/" target="_blank">Find a job</a></li>
          <li><a href="http://www.guardforlife.com/how-to-apply-for-lifeguard-jobs/" target="_blank">How to apply</a></li>
        </ul>
        <a href="http://www.guardforlife.com/" target="_blank" class="button bg-blue">APPLY</a>
      </div>

    </div>
    <a href="http://www.americanpool.com" target="_blank">
    <div class="row fontin" id="copyright">
      Guard for Life is an American Pool Brand. Copyright 2013 American Pool Enterprises Inc. All rights reserved.
    </div>
    </a>
  </footer>