<footer>
    <div class="row fontin">

      <div id="footer-col-1" class="large-4 columns">
        <a href="#refer" class="button bg-green">
          Refer A Friend
        </a>

        <form method="get" action="">
          <label for="zip-footer">
            Find a job in your area
          </label>
          <input type="text" id="zip-footer" class="zipcode" value="" placeholder="Enter your zip code">
        </form>

        <div class="social">
          <a href="#" class="facebook">
            <span>Facebook</span>
          </a>
          <a href="#" class="twitter">
            <span>Twitter</span>
          </a>
          <a href="#" class="linkedin">
            <span>LinkedIn</span>
          </a>
          <a href="#" class="youtube">
            <span>YouTube</span>
          </a>
        </div>

      </div>

      <div id="footer-col-2" class="large-4 columns">
        <h3>New Lifeguards</h3>
        <ul>
          <li><a href="#">Become a lifeguard</a></li>
          <li><a href="#">How to apply</a></li>
          <li><a href="#">Find an office near you</a></li>
          <li><a href="#">Look for Training Classes</a></li>
          <li><a href="#">Jobs in your area</a></li>
          <li><a href="#">About Guard for Life</a></li>
          <li><a href="#">Guard for Life Blog</a></li>
        </ul>
        <a href="#" class="button bg-red">APPLY</a>
      </div>

      <div id="footer-col-3" class="large-4 columns">
        <h3>Current Lifeguards</h3>
        <ul>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">American Red Cross Training</a></li>
          <li><a href="#">OSHA Training</a></li>
          <li><a href="#">Get your uniform</a></li>
          <li><a href="#">Guard for Life Blog</a></li>
          <li><a href="#">State Forms</a></li>
          <li><a href="#">Summer to Win</a></li>
        </ul>
        <a href="#" class="button bg-blue">LOGIN</a>
      </div>

    </div>
    <div class="row fontin" id="copyright">
      Guard for Life is an American Pool Brand. Copyright 2013 American Pool Enterprises Inc. All rights reserved.
    </div>
  </footer>