<div class="row" id="banner">
  <h2><span>Find Red Cross lifeguard training in your area.</span></h2>
</div>

<ul class="breadcrumbs">
  <li><a href="#">Home</a></li>
  <li><a href="#">Features</a></li>
  <li class="unavailable"><a href="#">Gene Splicing</a></li>
  <li class="current"><a href="#">Cloning</a></li>
  </ul>

<div class="row">
  <div class="panel">
  <form class="custom">
  <div class="row">
    <div class="large-4 columns">
      <label for="customDropdown1">Find by class type</label>
      <select id="customDropdown1" class="medium">
        <option>Select class</option>
        <option>Recertification Lifeguard</option>
        <option>Recertification Lifeguard</option>
        <option>CPR Recertification</option>
        <option>Blended Learning Lifeguard</option>
      </select>
    </div>
    <div class="large-4 columns">
      <label for="customDropdown1">Find by location</label>
      <select id="customDropdown1" class="medium">
        <option>Select a state</option>
        <option>Delaware</option>
        <option>Maryland</option>
        <option>New Jeresy</option>
        <option>Virginia</option>
      </select>
    </div>
    <div class="large-4 columns">
      <label for="customDropdown1">Find by date</label>
      <select id="customDropdown1" class="medium">
        <option>Select a date</option>
        <option>Today</option>
        <option>Tomorrow</option>
        <option>This week</option>
        <option>This month</option>
      </select>
    </div>
  </div>
  </div>
</div>

  <div class="row">
 <!-- Nav Sidebar -->
    <!-- This is source ordered to be pulled to the left on larger screens -->
    <!-- <div class="large-3 columns hide-for-small">
      <div class="panel">
        <a href="#"><img src="http://placehold.it/300x150&text=[img]" /></a>
        <h5><a href="#">Refine class list</a></h5>
          <div class="section-container vertical-nav" data-section data-options="deep_linking: false; one_up: true">
          <section class="section">
            <h5 class="title"><a href="#">All dates</a></h5>
              <p><a href="#">Today</a></p>
              <p><a href="#">Tomorrow</a></p>
              <p><a href="#">This weekend</a></p>
              <p><a href="#">This month</a></p>
          </section>
          <section class="section">
            <h5 class="title"><a href="#">All locations</a></h5>
              <p><a href="#">Delaware</a></p>
              <p><a href="#">Maryland</a></p>
              <p><a href="#">New Jersey</a></p>
              <p><a href="#">Virginia</a></p>
          </section>
          <section class="section">
            <h5 class="title"><a href="#">All class types</a></h5>
              <p><a href="#">Lifeguard Certification</a></p>
              <p><a href="#">Recertification Lifeguard</a></p>
              <p><a href="#">CPR Recertification</a></p>
              <p><a href="#">Blended Learning Lifeguard</a></p>
          </section>
        </div>
 
      </div>
    </div> -->
    
    <!-- Main Feed -->
    <!-- This has been source ordered to come first in the markup (and on small devices) but to be to the right of the nav on larger screens -->
    <div class="large-10 columns">
 
      <!-- Feed Entry -->
      <div class="row">
        <div class="large-1 columns small-2"><img src="http://placehold.it/80x80&text=[img]" /></div>
        <div class="large-10 columns left">
          <h3><a href="/class">Lifeguard Recertification Class</a><h3>
          <h5>November 16, 2013 at 9:30 AM</h5>
          <h5>Location of 12345 Address Baltimore, Maryland</h5>
          <h5>Organized by this office<h5>
          <p>This class is for lifeguards that need to be recertified before their certifications expire.</p>
          <ul class="inline-list">
            <li><a href="/class" class="button radius gflprimary">Register</a></li>
            <li><a href="#" class="button secondary radius">Share</a></li>
          </ul>
        </div>
      </div>
      <!-- End Feed Entry -->
 
      <hr />
 
      <!-- Feed Entry -->
      <div class="row">
        <div class="large-1 columns small-2"><img src="http://placehold.it/80x80&text=[img]" /></div>
        <div class="large-10 columns left">
          <h3><a href="/class">Class Title</a><h3>
          <h5>November 16, 2013 at 9:30 AM</h5>
          <h5>Location of 12345 Address Baltimore, Maryland</h5>
          <h5>Organized by this office<h5>
          <p>This class is for lifeguards that need to be recertified before their certifications expire.</p>
          <ul class="inline-list">
            <li><a href="/class" class="button">Register</a></li>
            <li><a href="#" class="button secondary">Share</a></li>
          </ul>
        </div>
      </div>
      <!-- End Feed Entry -->
 
      <hr />
 
      <!-- Feed Entry -->
      <div class="row">
        <div class="large-1 columns small-2"><img src="http://placehold.it/80x80&text=[img]" /></div>
        <div class="large-10 columns left">
          <h3><a href="/class">Class Title</a><h3>
          <h5>November 16, 2013 at 9:30 AM</h5>
          <h5>Location of 12345 Address Baltimore, Maryland</h5>
          <h5>Organized by this office<h5>
          <p>This class is for lifeguards that need to be recertified before their certifications expire.</p>
          <ul class="inline-list">
            <li><a href="/class" class="button">Register</a></li>
            <li><a href="#" class="button secondary">Share</a></li>
          </ul>
        </div>
      </div>
      <!-- End Feed Entry -->
      
      <hr />

 <div class="pagination-centered">
  <ul class="pagination">
    <li class="arrow unavailable"><a href="">&laquo;</a></li>
    <li class="current"><a href="">1</a></li>
    <li><a href="">2</a></li>
    <li><a href="">3</a></li>
    <li><a href="">4</a></li>
    <li class="unavailable"><a href="">&hellip;</a></li>
    <li><a href="">12</a></li>
    <li><a href="">13</a></li>
    <li class="arrow"><a href="">&raquo;</a></li>
  </ul>
</div>

    </div>
 
    <!-- Right Sidebar -->
    <!-- On small devices this column is hidden -->
    <aside class="large-2 columns hide-for-small">
      <p><img src="http://placehold.it/300x440&text=[ad]" /></p>
      <p><img src="http://placehold.it/300x440&text=[ad]" /></p>
    </aside>
 
  </div>

 
  <!-- Footer -->
