<section class="aligncenter" id="page-banner">
</section>

<section class="row">
	
	<div id="content" class="large-12 columns">

		<h2>About our training</h2>

		<img src="http://www.guardforlife.com/wp-content/uploads/2014/01/red-cross-lifeguard-training.png" class="alignleft" /><p>American Pool companies have teamed up with the American Red Cross to offer a wide range of aquatics-related training.</p>

		<p>American Pool Enterprises, Inc. (APEI) has been an Authorized Provider with the American Red Cross since 1984. An Authorized Provider is a company, organization, individual or agency that has signed an Authorized Provider Agreement with the Red Cross to provide American Red Cross instructional programs in accordance with the standards and objectives of the program they desire to teach.</p>

		<p>Each year American Pool companies train approximately 2,000 individuals to become American Red Cross lifeguards.</p>

		<p>Through the Guard for Life program, American Pool companies hire over 6,500 lifeguards a year. Learn more at <a href="http://www.guardforlife.com" target="_blank">guardforlife.com</a> or connect with us on <a href="http://www.facebook.com/guardforlife" target="_blank">Facebook</a> or <a href="http://www.twitter.com/guardforlife" target="_blank">Twitter</a>.</p>
	</div>
</section>