<section class="aligncenter" id="page-banner">
</section>

<div class="row">
	
	<div id="content" class="large-12 columns">

		<div class="row display" id="content">

			<h2>What class should I take?</h2>

				<div class="row display" id="content">

					<div class="large-6 columns">

						<p>There are many options available when it comes to your training, so it can sometimes be overwhelming.</p>

						<p><strong>New lifeguards</strong> will need to take the full Lifeguard Training course. Your location may offer the regular Lifeguard Training course OR the Lifeguard Training (Blended Learning) course, which has an online component.</p>

						<p><strong>Lifeguards that need to recertify</strong> will be able to take a Lifeguard Review course before their certification expires. Lifeguards whose certifications have already expired will need to take a full Lifeguard Training course.</p>

						<p>Some locations may require that you pass a Lifeguard Prerequisite course <em>before</em> taking a full Lifeguard Training course. If the Lifeguard Prerequisite isn't offered separately, it will be part of your full lifeguad training.</p>

					</div>

					<div class="large-6 columns">

						<p><strong>Training may vary by location and job requirements.</strong> Below, we have outlined common training paths American Pool lifeguards need to complete in each state. These are broken down further for these types of lifeguards: Brand New, Recert and Expired.</p>

						<p><em>Please note: Classes may not be available year-round. Some classes may be offered more frequently than others.</em></p>

						<p>If you want to learn more about what each class is like, review the class requirements for each class type.</p>

						<a href="/options" class="button" style="border:1px solid #dddddd;background-color: #e8e8e8;color: #333;">What are the requirements?</a>

					</div>

					<hr/>

				</div>

				<div class="row display" id="content">

					<div class="large-6 columns">

					<h2>Delaware</h2>

						<p><strong>New lifeguards</strong> will need to take a full Lifeguard Training course.</p>

						<p><strong>Lifeguards that need to recertify</strong> may take different courses. If your certifications have not yet expired, you can take the Lifeguard Training Review course, which costs less and takes less time.</p>

					</div>

					<div class="large-6 columns">
						<br/>
						<br/>
						<br/>
						<p><span class="lifeguard-type-new">Brand New:</span> Lifeguard Training</p>
						<p><span class="lifeguard-type-recert">Recert:</span> Lifeguard Training Review</p>
						<p><span class="lifeguard-type-expired">Expired:</span> Lifeguard Training</p>

						<p><strong>ORGANIZER:</strong> <a href="http://www.eventbrite.com/o/american-pool-delaware-5643182685" target="_blank">American Pool Delaware</a></p>

					</div>

					<hr/>

				</div>

				<div class="row display" id="content">					

					<div class="large-6 columns">

					<h2>Georgia</h2>

						<p><strong>New lifeguards</strong> will need to take a full Lifeguard Training (Blended Learning) course. The blended learning course combines in-class instruction with online pre-work. Before the class date, you will be sent special course links from the American Red Cross. This online pre-work will need to be completed before the in-person portion of the course. You will need to bring the printed verification that shows the completion of these mandatory online sessions to the first day of the class.</p>

						<p><strong>Lifeguards that need to recertify</strong> may take different courses. If your certifications have not yet expired, you can take the Lifeguard Training Review course, which costs less and takes less time.</p>

					</div>

					<div class="large-6 columns">
						<br/>
						<br/>
						<br/>
						<p><span class="lifeguard-type-new">Brand New:</span> Lifeguard Training (Blended Learning)</p>
						<p><span class="lifeguard-type-recert">Recert:</span> Lifeguard Training Review </p>
						<p><span class="lifeguard-type-expired">Expired:</span> Lifeguard Training (Blended Learning)</p>

						<p><strong>ORGANIZER:</strong> <a href="http://www.eventbrite.com/o/american-pool-georgia-5642904753" target="_blank">American Pool Georgia</a></p>

					</div>

					<hr/>

				</div>

				<div class="row display" id="content">

					<div class="large-6 columns">

					<h2>Maryland</h2>

						<p><strong>New lifeguards</strong> will need to take a Lifeguard Prerequisite class first. Then, you will be able to take a full Lifeguard Training (Blended Learning) course. The blended learning course combines in-class instruction with online pre-work. Before the class date, you will be sent special course links from the American Red Cross. This online pre-work will need to be completed before the in-person portion of the course. You will need to bring the printed verification that shows the completion of these mandatory online sessions to the first day of the class.</p>

						<p><strong>You may need to take a Pool Operator course.</strong> This is important for lifeguards working at a single-guard pool. Not all Maryland lifeguards need the P.O. course, but it's useful to have. Maryland wants to make sure there is a Pool Operator on duty at all times or available within 15 minutes (depending on the county). Once you pass the Pool Operator class, you will need to take your certification to your local Health Department (in the county you will be working) to get a county Pool Operator's license card. There may be an additional fee to obtain a P.O. card from the county.</p>

						<p><strong>Lifeguards that need to recertify</strong> may take different courses. If your certifications have not yet expired, you can take the Lifeguard Training Review course, which costs less and takes less time. Otherwise, when your certifications expire you will need to take both the Lifeguard Prerequisite and Lifeguard Training (Blended Learning).</p>

					</div>

					<div class="large-6 columns">
						<br/>
						<br/>
						<br/>
						<p><span class="lifeguard-type-new">Brand New:</span><br/>
						Step 1 - Lifeguard Prerequisite<br/>
						Step 2 - Lifeguard Training (Blended Learning)<br/>
						Step 3 - (If required) Pool Operator Course<br/>
						Step 4 - (If required) Obtain Pool Operator's license from county health department</p>
						<p><span class="lifeguard-type-recert">Recert:</span> Lifeguard Training Review</p>
						<p><span class="lifeguard-type-expired">Expired:</span><br/>
						Step 1 - Lifeguard Prerequisite<br/>
						Step 2 - Lifeguard Training (Blended Learning)<br/>
						Step 3 - (If required) If your Pool Operator's license is expired, you'll need to take the course again. The expiration date depends on the county. Most P.O. licenses are good for 3 years.</p>

						<p><strong>ORGANIZER:</strong> <a href="http://www.eventbrite.com/o/american-pool-maryland-5343012097" target="_blank">American Pool Maryland</a></p>

					</div>

					<hr/>

				</div>


				<div class="row display" id="content">

					<div class="large-6 columns">

					<h2>New Jersey*</h2>

						<p><strong>New lifeguards</strong> will need to take a Lifeguard Prerequisite course before taking a full Lifeguard Training (Blended Learning) course. The blended learning course combines in-class instruction with online pre-work. Before the class date, you will be sent special course links from the American Red Cross. This online pre-work will need to be completed before the in-person portion of the course. You will need to bring the printed verification that shows the completion of these mandatory online sessions to the first day of the class.</p>

						<p><strong>Lifeguards that need to recertify</strong> may take different courses. If your certifications have not yet expired, you can take the Lifeguard Training Review course, which costs less and takes less time.</p>

						<p>*Please see New York for Northern New Jersey</p>

					</div>

					<div class="large-6 columns">
						<br/>
						<br/>
						<br/>
						<p><span class="lifeguard-type-new">Brand New:</span><br/>
						Step 1 - Lifeguard Prerequisite<br/>
						Step 2 - Lifeguard Training (Blended Learning)</p>
						<p><span class="lifeguard-type-recert">Recert:</span> Lifeguard Training Review</p>
						<p><span class="lifeguard-type-expired">Expired:</span><br/>
						Step 1 - Lifeguard Prerequisite<br/>
						Step 2 - Lifeguard Training (Blended Learning)</p>

						<p><strong>ORGANIZERS:</strong><br/>
						<a href="http://www.eventbrite.com/o/american-pool-new-jersey-5372819297" target="_blank">American Pool New Jersey</a><br/>
						<a href="http://www.eventbrite.com/o/recreational-management-services-rms-5641869557" target="_blank">Recreational Management Services</a></p>

					</div>

					<hr/>

				</div>

				<div class="row display" id="content">

					<div class="large-6 columns">

					<h2>New York</h2>

						<p><strong>New lifeguards</strong> will need to take a full Lifeguard Training course.</p>

						<p><strong>Lifeguards that need to recertify</strong> may take different courses. If your certifications have not yet expired, you can take the Lifeguard Training Review course, which costs less and takes less time. New York requires CPR/AED certifications to be renewed annually. NY lifeguards will need to take a CPR/AED course each year.</p>

					</div>

					<div class="large-6 columns">
						<br/>
						<br/>
						<br/>
						<p><span class="lifeguard-type-new">Brand New:</span> Lifeguard Training</p>
						<p><span class="lifeguard-type-recert">Recert:</span> Lifeguard Training Review <strong>OR</strong> CPR/AED for the Professional Rescuer Review (if your lifeguard certification hasn't expired)</p>
						<p><span class="lifeguard-type-expired">Expired:</span> Lifeguard Training <strong>OR</strong> CPR/AED for the Professional Rescuer (if your lifeguard certification hasn't expired)</p>

						<p><strong>ORGANIZERS:</strong><br/>
						<a href="http://www.eventbrite.com/o/american-pool-new-york-5642646961" target="_blank">American Pool New York</a><br/>
						<a href="http://www.eventbrite.com/o/american-pool-long-island-5642634877" target="_blank">American Pool Long Island</a></p>

					</div>

					<hr/>

				</div>

				<div class="row display" id="content">

					<div class="large-6 columns">

					<h2>North Carolina</h2>

						<p><strong>New lifeguards</strong> will need to take a full Lifeguard Training (Blended Learning) course. The blended learning course combines in-class instruction with online pre-work. Before the class date, you will be sent special course links from the American Red Cross. This online pre-work will need to be completed before the in-person portion of the course. You will need to bring the printed verification that shows the completion of these mandatory online sessions to the first day of the class.</p>

						<p><strong>Lifeguards that need to recertify</strong> may take different courses. If your certifications have not yet expired, you can take the Lifeguard Training Review course, which costs less and takes less time. New York requires CPR/AED certifications to be renewed annually. So you will need to take a CPR/AED course even if your lifeguard certification isn't expiring.</p>

					</div>

					<div class="large-6 columns">
						<br/>
						<br/>
						<br/>
						<p><span class="lifeguard-type-new">Brand New:</span> Lifeguard Training (Blended Learning)</p>
						<p><span class="lifeguard-type-recert">Recert:</span> Lifeguard Training Review</p>
						<p><span class="lifeguard-type-expired">Expired:</span> Lifeguard Training (Blended Learning)</p>

						<p><strong>ORGANIZER:</strong> <a href="http://www.eventbrite.com/o/american-pool-north-carolina-5642685227" target="_blank">American Pool North Carolina</a></p>

					</div>

					<hr/>

				</div>

				<div class="row display" id="content">

					<div class="large-6 columns">

					<h2>Pennsylvania</h2>

						<p><strong>New lifeguards</strong> will need to take a full Lifeguard Training (Blended Learning) course. The blended learning course combines in-class instruction with online pre-work. Before the class date, you will be sent special course links from the American Red Cross. This online pre-work will need to be completed before the in-person portion of the course. You will need to bring the printed verification that shows the completion of these mandatory online sessions to the first day of the class.</p>

						<p><strong>Lifeguards that need to recertify</strong> may take different courses. If your certifications have not yet expired, you can take the Lifeguard Training Review course, which costs less and takes less time. New York requires CPR/AED certifications to be renewed annually. So you will need to take a CPR/AED course even if your lifeguard certification isn't expiring.</p>

					</div>

					<div class="large-6 columns">
						<br/>
						<br/>
						<br/>
						<p><span class="lifeguard-type-new">Brand New:</span> Lifeguard Training (Blended Learning)</p>
						<p><span class="lifeguard-type-recert">Recert:</span> Lifeguard Training Review </p>
						<p><span class="lifeguard-type-expired">Expired:</span> Lifeguard Training (Blended Learning)</p>

						<p><strong>ORGANIZERS:</strong><br/>
						<a href="http://www.eventbrite.com/o/american-pool-pennsylvania-5642717451" target="_blank">American Pool Pennsylvania</a><br/>
						<a href="http://www.eventbrite.com/o/american-pool-pittsburgh-5342814725" target="_blank">American Pool Pittsburgh</a></p>

					</div>

					<hr/>

				</div>

				<div class="row display" id="content">

					<div class="large-6 columns">

					<h2>Virginia</h2>

						<p><strong>New lifeguards</strong> will need to take a full Lifeguard Training (Blended Learning) course. The blended learning course combines in-class instruction with online pre-work. Before the class date, you will be sent special course links from the American Red Cross. This online pre-work will need to be completed before the in-person portion of the course. You will need to bring the printed verification that shows the completion of these mandatory online sessions to the first day of the class.</p>

						<p><strong>Lifeguards that need to recertify</strong> may take different courses. If your certifications have not yet expired, you can take the Lifeguard Training Review course, which costs less and takes less time. New York requires CPR/AED certifications to be renewed annually. So you will need to take a CPR/AED course even if your lifeguard certification isn't expiring.</p>

					</div>

					<div class="large-6 columns">
						<br/>
						<br/>
						<br/>
						<p><span class="lifeguard-type-new">Brand New:</span> Lifeguard Training (Blended Learning)</p>
						<p><span class="lifeguard-type-recert">Recert:</span> Lifeguard Training Review</p>
						<p><span class="lifeguard-type-expired">Expired:</span> Lifeguard Training (Blended Learning)</p>

						<p><strong>ORGANIZER:</strong> <a href="http://www.eventbrite.com/o/american-pool-virginia-5642642933" target="_blank">American Pool Virginia</a></p>

					</div>

					<hr/>

				</div>


		</div>

	</div>
	
</div>
