<section class="aligncenter" id="page-banner">
</section>

	<div class="row display" id="content">

	<div class="row">
 		<a name="top"></a>
		<div class="large-11 columns">
			<h2>What are the requirements for my class?</h2>

			<p>Want to know what you'll need to do to pass your training class? Well you've come to the right place. We've outlined the technical requirements for each class below. Take some time to review them. You may need to take different classes depending on where you live, if you're re-certifiing or if you're a new lifeguard.</p>

			<p>The best way to find out which classes you need to take is to speak to one of our friendly staffers at at office in your area. They will ensure you get enrolled in the right type of class.</p>

			<p>Here are the classes offered:</p>
		</div>
	</div>


	<div class="row">
	  <div class="large-4 columns">
	  	<ul>
			 <strong><li><a href="#prerequisite">Lifeguard Training Prerequisite</a></li></strong>
			 <strong><li><a href="#lifeguard-training">Lifeguard Training</a></li></strong>
			 <strong><li><a href="#lifeguard-training-blended">Lifeguard Training (Blended Learning)</a></li></strong>
	  	</ul>
	  </div>
	  <div class="large-4 columns">
	  	<ul>
			<strong><li><a href="#lifeguard-review">Lifeguard Review</a></li></strong>
			<strong><li><a href="#cpr-aed">CPR/AED for the Professional Rescuer</a></li></strong>
			<strong><li><a href="cpr-aed-review">CPR/AED for the Professional Rescuer Review</a></li></strong>
	  	</ul>
	  </div>
	  <div class="large-4 columns">
	  	<ul>
			<strong><li><a href="#pool-operator">Pool Operator</a></li></strong>
			<strong><li><a href="#lifeguard-instructor">Lifeguard Instructor</a></li></strong>
			<strong><li><a href="#waterfront-skills">Waterfront Skills Module</a></li></strong>
	  	</ul>
	  </div>
	</div> 

	<a href="/get-trained" class="button" style="border:1px solid #dddddd;background-color: #e8e8e8;color: #333;">What class should I take?</a>

	<hr/>

	</div>


	<div class="row display" id="content">

		<h2>Class Descriptions</h2>

			<div class="large-12 columns">
			<a name="prerequisite"></a>
				<h3>Lifeguard Training Prerequisite</h3>
				
				<ol>
					<li>Must complete the prerequisite prior to registering for a Lifeguarding Course.</li>
					<li>Swim 300 yards continuously demonstrating breath control and rhythmic breathing. Candidates may swim using the front crawl, breaststroke or a combination of both but swimming on the back or side is not allowed. Swim goggles may be used.</li>
					<li>Tread water for 2 minutes using only the legs. Candidates should place their hands under the armpits.</li>
					<li>Complete a timed event within 1 minute, 40 seconds.</li>

					<ul>
						<li>Starting in the water, swim 20 yards. The face may be in or out of the water. Swim goggles are not allowed.</li>
						<li>Surface dive, feet-first or head-first, to a depth of 7 to 10 feet to retrieve a 10-pound object.</li>
						<li>Return to the surface and swim 20 yards to return to the starting point with both hands holding the object and keeping the face at or near the surface so they are able to get a breath. Candidates should not swim the distance under water.</li>
						<li>Exit the water without using a ladder or steps.</li>
					</ul>
				</ol>

			</div>

	<hr/>
	
	</div>

		<div class="row display" id="content">

			<div class="large-6 columns">
				<a name="lifeguard-training"></a>
				<h3>Lifeguard Training Course</h3>
				
				<strong>Prerequisites:</strong>
				
				<ol>
					<li>Must be 15 years old on or before the final scheduled session of this course.</li>
					<li>Swim 300 yards continuously demonstrating breath control and rhythmic breathing. Candidates may swim using the front crawl, breaststroke or a combination of both but swimming on the back or side is not allowed. Swim goggles may be used.</li>
					<li>Tread water for 2 minutes using only the legs. Candidates should place their hands under the armpits.</li>
					<li>Complete a timed event within 1 minute, 40 seconds.</li>
					
					<ul>
						<li>Starting in the water, swim 20 yards. The face may be in or out of the water. Swim goggles are not allowed.</li>
						<li>Surface dive, feet-first or head-first, to a depth of 7 to 10 feet to retrieve a 10-pound object.</li>
						<li>Return to the surface and swim 20 yards on the back to return to the starting point with both hands holding the object and keeping the face at or near the surface so they are able to get a breath. Candidates should not swim the distance underwater.</li>
						<li>Exit the water without using a ladder or steps.</li>
					</ul>
				</ol>
				
				<strong>Purpose:</strong>
				<p>The purpose of the American Red Cross Lifeguarding course is to provide entry-level lifeguard participants with the knowledge and skills to prevent, recognize and respond to aquatic emergencies and to provide care for breathing and cardiac emergencies, injuries and sudden illnesses until emergency medical services (EMS) personnel take over.</p>
				
				<strong>Certification Requirements:</strong>
				<p>Attend all class sessions, successfully perform all required skills, successfully complete three final skill scenarios; and pass the written exam with a minimum gradeof 80 percent or better on each section.</p>
				
				<strong>Certification Validity:</strong>
				<p>American Red Cross certificate for Lifeguarding/First Aid/CPR/AED for Lifeguards-2 year.</p>
				
				<strong>Length of Class:</strong>
				<p>Approximately 25 hours, 20 minutes</p>

				<p><a href="#top">Back to Top</a></p>

			</div>

		<div class="large-6 columns">
			<a name="lifeguard-training-blended"></a>
			<h3>Lifeguard Training (Blended Learning)</h3>
			
			<strong>Prerequisites:</strong>
			
			<ol>
				<li>Must be 15 years old on or before the final scheduled session of this course.</li>
				<li>Swim 300 yards continuously demonstrating breath control and rhythmic breathing. Candidates may swim using the front crawl, breaststroke or a combination of both but swimming on the back or side is not allowed. Swim goggles are allowed.</li>
				<li>Tread water for 2 minutes using only the legs. Candidates should place their hands under the armpits.</li>
				<li>Complete a timed event within 1 minute, 40 seconds.</li>
					<ul>
						<li>Starting in the water, swim 20 yards. The face may be in or out of the water. Swim goggles are not allowed.</li>
						<li>Surface dive, feet-first or head-first, to a depth of 7 to 10 feet to retrieve a 10-pound object.</li>
						<li>Return to the surface and swim 20 yards to return to the starting point with both hands holding the object and keeping the face at or near the surface so they are able to get a breath. Candidates should not swim the distance under water.</li>
						<li>Exit the water without using a ladder or steps.</li>
					</ul>
			</ol>

			<strong>Purpose:</strong>
			<p>The purpose of the American Red Cross Lifeguarding course is to provide entry-level lifeguard participants with the knowledge and skills to prevent, recognize and respond to aquatic emergencies and to provide care for breathing and cardiac emergencies, injuries, and sudden illnesses until emergency medical services (EMS) personnel take over. This class is offered both online and with instructor-led skill sessions.</p>
			
			<strong>Certification Requirements:</strong>
			<p>Attend all class sessions, successfully perform all required skills, successfully complete three final skill scenarios; and pass the written exam with a minimum grade of 80 percent or better on each section.</p>
			
			<strong>Certification Validity:</strong>
			<p>Certification Validity- Lifeguard Training/First Aid/ CPR/AED -2 year.</p>
			
			<strong>Length of Class:</strong>
			<p>Online Time- 7hrs, 25 mins, Facility Time-19hrs, 30 mins, totaling 26 hrs, 55 mins
			**You will receive an email with the online session link once the class is available.
			**Must complete the online portion of the class prior to the first day of the course.
			**Please bring your certificate of achievement with you to the first day of the course to be guaranteed a spot in the course.</p>

			<p><a href="#top">Back to Top</a></p>
			
		</div>

	<hr/>

	</div>

	<div class="row display" id="content">

		<div class="large-6 columns">
			<a name="lifeguard-review"></a>
			<h3>Lifeguard Review Course</h3>
			
			<strong>Prerequisites:</strong>
			<p>Individuals with a current Lifeguarding/First Aid/CPR/AED or Shallow Water Lifeguarding/First Aid/ CPR/ AED certificate may participate in a review course.</p>
			
			<strong>Purpose:</strong>
			<p>The purpose of a review course is to give individuals the opportunity to review the course content within a formal course setting. The review course format optimizes a participant’s ability to successfully complete the knowledge and skills evaluations. The responsibility for preparing for the final written exam is shared by the instructor and the participant.</p>
			
			<strong>Certification Requirements:</strong>
			<ul>
			<li>Attend and participate in all class sessions.</li>
			<li>Demonstrate competency in all required skills and activities.</li>
			<li>Demonstrate competency in all required final rescue skill scenarios.</li>
			<li>Pass both the Section 1-CPR/AED for the Professional Rescuer and First Aid and Section 2-Lifeguarding Skills final written exams with minimum grades of 80 percent.</li>
			</ul>
			
			<strong>Certification Validity:</strong>
			<p>American Red Cross certificate for Lifeguarding/First Aid/CPR/AED: 2 years</p>
			
			<strong>Length of Class:</strong>
			<p>Approximately 13 hours</p>

			<p><a href="#top">Back to Top</a></p>
		</div>

	<div class="large-6 columns">
		<a name="cpr-aed-review"></a>
		<h3>CPR/AED for the Professional Rescuer Review Course</h3>

		<strong>Prerequisites:</strong>
		<p>To be eligible to participate in a review course, the participant must possess a current American Red Cross certificate (or the equivalent) for the course to be conducted. Those without a certificate may not participate in the review course option.</p>

		<strong>Purpose:</strong>
		<p>The purpose of a review course is to give individuals the opportunity to review the course content within a formal class setting. The format optimizes a participant’s ability to successfully complete the knowledge and skills evaluations. The responsibility for preparing for the final written exam is shared by the instructor and the participant.</p>
		
		<strong>Certification Requirements:</strong>
		<ul>
			<li>Attend the entire course.</li>
			<li>Participate in all skill sessions and scenarios.</li>
			<li>Demonstrate competency in all required skills and scenarios.</li>
			<li>Pass the final written exam with a minimum grade of 80 percent (20 correct answers out of 25 questions).</li>
		</ul>

		<strong>Certification Validity:</strong>
		<p>CPR/AED for the Professional Rescuers and Health Care Providers: 2 years</p>
		
		<strong>Length of Class:</strong>
		<p>Approximately 3 hours</p>

		<p><a href="#top">Back to Top</a></p>

	</div>

<hr/>

</div>

<div class="row display" id="content">

	<div class="large-6 columns">
		<a name="cpr-aed"></a>
		<h3>CPR/AED for the Professional Rescuer</h3>
		
		<strong>Prerequisites:</strong> 
		<p>None</p>
		
		<strong>Purpose:</strong>
		<p>The purpose of the American Red Cross CPR/AED for Professional Rescuers and Health Care Providers program is to train professional-level rescuers to respond to breathing and cardiac emergencies in adults, children and infants until more advanced medical personnel take over. This program is offered in traditional classroom or blended learning (online learning with instructor-led skill session) formats.</p>
		
		<strong>Certification Requirements:</strong>
		<ul>
			<li>Classroom (traditional classroom, instructor-led)</li>
			<li>Attend the entire course.</li>
			<li>Participate in all skill sessions and scenarios.</li>
			<li>Demonstrate competency in all required skills and scenarios.</li>
			<li>Pass the final written exam with a minimum grade of 80 percent (20 correct answers out of 25 questions).</li>
			<li>Blended Learning (online learning and instructor-led skills session).</li>
			<li>Complete all lessons of the online learning session and pass the online assessment with a score of at least 80%.</li>
			<li>Participate in all course activities.</li>
			<li>Demonstrate competency in all required skills.</li>
		</ul>
		
		<strong>Certification Validity:</strong>
		<p>CPR/AED for the Professional Rescuers and Health Care Providers: 2 years</p>
		
		<strong>Length of Class:</strong>
		<p>Course length varies depending on format and ranges from approximately 4 hours and 35 minutes to 5 hours and 35 minutes.</p>

		<p><a href="#top">Back to Top</a></p>

	</div>


	<div class="large-6 columns">
		<a name="pool-operator"></a>
		<h3>Pool Operator Course</h3>

		<strong>Prerequisites:</strong>
		<p>Minimum age 16 years old</p>
		
		<strong>Purpose:</strong>
		<p>Course is designed to provide the knowledge necessary to safely and efficiently manage and operate swimming pools and spas.</p>
		
		<strong>Learning Objectives:</strong>
			<ul>
				<li>State regulations governing operation of public and semi-public pools</li>
				<li>The pool operator’s responsibility for protection of the patrons’ health</li>
				<li>Calculation of swimming pool volume, filter surface area, and flow rate</li>
				<li>Filtration and circulation</li>
				<li>Pool water testing, sanitation chemistry, and water balance</li>
				<li>Heaters and hot water chemistry</li>
				<li>Management of aquatic facilities</li>
				<li>Pool operational problems and chemical adjustments</li>
				<li>Care of seasonal pools</li>
				<li>Disease and accident prevention, including safety in the workplace</li>
			</ul>

		<strong>Certification Requirements:</strong>
		<p>Pass a written examination with a grade of 80 percent or better.</p>
		
		<strong>Certification Validity:</strong>
		<p>Certified Pool Operator Certification- 3 years</p>

		<p><a href="#top">Back to Top</a></p>
		
	</div>

<hr/>

</div>

<div class="row display" id="content">

	<div class="large-6 columns">
		<a name="lifeguard-instructor"></a>
		<h3>Lifeguard Instructor Course</h3>
		
		<strong>Prerequisites:</strong>
		<ol>
		<li>Be at least 17 years old on or before the last day of the instructor course.
		Possess one of the following:</li>
			<ul>
				<li>A current American Red Cross certificate for Lifeguarding/First Aid/CPR/AED</li>
				<li>A current American Red Cross certificate for Lifeguarding/First Aid and either an American Red Cross  certificate for CPR/AED for the Professional Rescuer or an American Red Cross certificate for CPR/AED for Lifeguards.</li>
				<li>An equivalent certificate from another organization.</li>
			</ul>
		<li>Successfully complete the online Orientation to the Red Cross.</li>
		<li>Successfully complete the online Orientation to the Lifeguarding course.</li>
		<li>Successfully complete the online Lifeguarding Instructor Precourse Exam (80% or better).</li>
		<li>Successfully complete the Precourse Session.</li>
		<li>Obtain the Lifeguarding Instructor’s Manual and Lifeguarding Manual after you have successfully completed the Precourse Session.</li>
		</ol>
		
		<strong>Purpose:</strong>
		<p>The purpose of the instructor course is to train instructor candidates to teach the Red Cross Lifeguarding, Shallow Water Lifeguarding, Waterfront Skills, Waterpark Skills, CPR/AED for Professional Rescuers and Health Care Providers, Administering Emergency Oxygen and Bloodborne Pathogens Training: Preventing Disease Transmission courses and/or modules. Instructor candidates will also become familiar with Junior Lifeguarding, Lifeguard Management, Safety Training for Swim Coaches and Basic Water Rescue.</p>
		
		<strong>Certification Requirements:</strong>
		<p>To become certified as a Lifeguarding instructor, instructor candidates must:</p>
		<ul>
			<li>Successfully complete the Online Session.</li>
			<li>Successfully complete the Precourse Session.</li>
			<li>Attend and actively participate in all course sessions.</li>
			<li>Successfully complete class activities, including the four practice-teaching assignments.</li>
			<li>Score a minimum of 80 percent (32 correct answers out of 40 questions) on the Bloodborne Pathogens Training Instructor Self-Study Test.</li>
			<li>Score a minimum of 80 percent (12 correct answers out of 15 questions) on the basic-level Administering Emergency Oxygen final written exam.</li>
			<li>Score a minimum of 80 percent (20 correct answers out of 25 questions) on the instructor course final written exam.</li>
		</ul>
		
		<strong>Certification Validity:</strong>
		<p>American Red Cross certificate for Lifeguarding/First Aid/CPR/AED instructor: 2 years</p>
		
		<strong>Length of Class:</strong>
		<p>The Online Session for the instructor course takes approximately 2 hours, 30 minutes.
		The classroom sessions are designed to be taught in approximately 18 hours, 45 minutes (including the Precourse Session).</p>

		<p><a href="#top">Back to Top</a></p>

	</div>

	<div class="large-6 columns">
		<a name="waterfront-skills"></a>
		<h3>Waterfront Skills Module</h3>
		
		<strong>Certification Prerequisites:</strong>
		<p>Candidates must have a current American Red Cross certificate for Lifeguarding/First Aid/CPR/AED.</p>		

		<strong>Skill Prerequisites:</strong>
		<ol>
			<li>Must be 15 years old on or before the final scheduled session of this module.</li>
			<li>Swim 550 yards continuously demonstrating breath control and rhythmic breathing. Candidates may swim using the front crawl, breaststroke or a combination of both but swimming on the back or side is not allowed. Swim goggles are allowed.</li>
			<li>Tread water for 2 minutes using only the legs. Candidates should place their hands under their armpits.
				Complete a timed event within 1 minute, 40 seconds.</li>
				<ul>
					<li>Starting in the water, swim 20 yards. The face may be in or out of the water. Swim goggles are not allowed.</li>
					<li>Surface dive, feet-first or head-first, to a depth of 7 to 10 feet to retrieve a 10-pound object.</li>
					<li>Return to the surface and swim 20 yards to return to the starting point with both hands holding the object and keeping the face at or near the surface so they are able to get a breath. Candidates should not swim the distance under water.</li>
					<li>Exit the water without using a ladder or steps.</li>
					<li>Swim 5 yards, submerge and retrieve three dive rings placed 5 yards apart in 4 to 7 feet of water, resurface and continue to swim another 5 yards to complete the skill sequence.</li>
				</ul>
		</ol>
		
		<strong>Purpose:</strong>
		<p>The purpose of the Waterfront Skills module is to teach lifeguards the skills and knowledge needed to prevent and respond to emergencies in non-surf, open-water areas found at public parks, resorts, summer camps and campgrounds.</p>
		
		<strong>Certification Requirements:</strong>
		<p>Demonstrate competency in all required skills and activities.
		Correctly answer at least 80 percent of the questions of the written exam</p>
		
		<strong>Certification Validity:</strong>
		<p>American Red Cross certificate indicating Waterfront Skills: 2 years.
		The Waterfront Skills certificate is only valid when accompanied by a current American Red Cross certificate for Lifeguarding/First Aid/CPR/AED.</p>
		
		<strong>Length of Class:</strong>
		<p>Approximately 5 hours, 40 minutes</p>

		<p><a href="#top">Back to top</a></p>

	</div>
	
</div>