/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require foundation_and_overrides
 */

/*row*/
.row {
margin-left: auto;
margin-right: auto;
margin-top: 0;
margin-bottom: 0;
max-width: 1020px;
*zoom: 1; }

img.alignright { float: right; display: block; margin: 0 0 2em 2em;}
img.alignleft { float: left; display: block; margin: 0 2em 2em 0;}

/* Colors */
.default-blue { color: #008cd2; }
.blue { color: #0061a5; }
.green { color: #61bc47; }
.purple { color: #e4098b; }
.red { color: #db423d; }

.bg-blue { background: #0061a5; }
.bg-green { background: #61bc47; }
.bg-purple { background: #e4098b; }
.bg-red { background: #db423d; }

.panel,
.button {
	border-radius: .25em;
	border: 0;
	box-shadow: none;
	text-transform: uppercase;
}

/* Fonts */

.Neris-Light { 
	font-family: Neris-Light;
	font-weight: normal;
	font-style: normal;
}
.Neris-Regular { 
	font-family: Neris-Regular;
	font-weight: normal;
	font-style: normal;
}
.Neris-SemiBold { 
	font-family: Neris-SemiBold;
	font-weight: normal;
	font-style: normal;
}

#logo {

	display: block; 
	padding: 0; 
	width: 293px; 
	height: 89px; 
	overflow: hidden; 
	float: left; 
	background: url( '/images/gfl-logo.png' ) no-repeat; margin-top: 45px;
}

#logo a { display: block; padding: 90px 0 0; }

.relative { position: relative; }

body, p { font-family: Verdana, Sans-serif; }
.neris, .fontin, .fontin p, .fontin li, .fontin a, h1, h2, h3, h4, h5, h6 { font-family: Neris-Regular, Helvetica, Arial, Sans-serif; }

/* Layout & Header */
.row { max-width: 1020px; }
body, p { color: #333; }
/*body.home { background: url( '../img/bg.png') 0 0 repeat-x; }*/
body a { color: #008cd2; }
body .button { padding: .5em 1.5em; }

.aligncenter { text-align: center; }
.alignright { text-align: right; }

.row h1 { font-size: 72px; color: #0da5dd; }
.row h2 { font-size: 48px; color: #0da5dd; }
.row h3 { font-size: 24px; color: #0da5dd; }	

.container { width: 1020px; margin: 0 auto; }
header { position: relative; }
.home header { height: 541px; overflow: hidden; }
header .buttons { position: absolute; right: 20px; top: 30px; }
header .buttons .button { font-size: 14px; font-weight: normal; color: #fff; text-transform: uppercase; padding: .5em; width: 150px; margin-right: 1em; }

header nav.primary { position: absolute; top: 80px; right: 0; list-style: none; padding: 0; margin: 0; font-size: 16px; font-weight: bold; text-transform: uppercase; }
header nav.primary li { float: left; margin-right: 1em; list-style: none; padding: 0; margin: 0; }
header nav.primary li a { display: block; padding: .5em 1em; }

.top-panel a { color: #e0e9ed; font-weight: bold;}
.top-panel a:hover { color: #ffffff; }

#banner {
	background-color: #0062a4;
	max-width: 100%;
	padding: 2.5em;
	min-height: 8em;
}

.trainingClass {
	border-bottom: 1px #eeeeee solid;
	margin: 20px 0;
	padding: 15px 0;
}

.full-width-banner { background: #f9f9f9; padding: 2em 0; margin: 1em 0 2em; }
.full-width-banner * { color: #fff !important; }
.full-width-banner h1,.full-width-banner h2,.full-width-banner h3,.full-width-banner h4 { text-shadow: 2px 2px 2px rgba(0,0,0,.25); margin: 0; }
.full-width-banner p { text-shadow: 1px 1px 1px rgba(0,0,0,.5); }

#page-banner { overflow: hidden; height: 225px; background: url('/images/header-training.jpg') no-repeat center; margin: 20px auto; top: 0px; left: 0px; }
#page-banner p { width: 1800px; max-width: 100%; }

span.page a { font-size: 1.5em; margin: 0 4px; }
span.current { font-size: 1.5em; color: #ffffff; padding: 4px 4px 4px 9px; background: #0061a5;}
span.first, span.prev, span.next, span.last { font-size: 1.25em; }

/* Interior */
img.banner { display: block; margin: 2em 0; }
#content { }
#content h1 { font-size: 35px; margin: 0; line-height: 1.25em; font-family: Neris-SemiBold; padding-bottom: .5em;}
#content h2 { font-size: 30px; margin: 0; padding-bottom: .5em; }
#content h3 { font-size: 24px; margin: 0; color: #333; padding-bottom: .5em; }
#content p a { font-weight: bold; text-decoration: underline; }
#content ul, ol, dl { margin-left: 3.5em; padding-bottom: 1em; font-size: .90em; font-family: Verdana, Sans-serif; }
#content ul.gfl-class-buttons { margin-left: 0; }

#content #myForm ul, ol, dl { margin-left: 0;}
#content #myForm ul li { font-size: 1.5em;}

.row h1 { font-size: 72px; color: #0da5dd; }
.row h2 { font-size: 48px; color: #0da5dd; }
.row h3 { font-size: 24px; color: #0da5dd; }	


footer { background: #414042; color: #fff; padding-top: 50px; margin: 50px 0 0; }
footer .row h3 { color: #fff; font-size: 28px; font-weight: normal; margin-top: 0; }
footer a { color: #b3b3b3; }

footer .row ul, footer .row ul li { list-style: none; padding: 0; margin: 0; line-height: 1.85; font-size: 16px; }
footer .row ul { margin-bottom: 1.5em; }

footer .row form label { font-size: 28px; font-weight: normal; color: #fff; display: block; }

input.zipcode,
input.zipcode:focus { font-size: 16px; color: #444; display: inline; width: 80%; border-radius: 2em; padding: 0 1em 0 38px; margin: .5em 0; height: 38px; vertical-align: middle; background: #cfcfd0 url( '../img/icon-pin.png' ) 10px 5px no-repeat; border: 1px solid #888; box-shadow: inset -2px 1px 2px rgba(0,0,0,.5);}

footer #copyright { line-height: 1.5; font-size: 12px; background: url( '/images/ap-logo.png' ) 10px 0 no-repeat; padding: 31px 0 20px 180px; margin: 0 auto; }

#footer-col-1 { text-align: center; }
#footer-col-1 .button { font-size: 24px; padding: .5em 1em; width: auto; font-weight: normal; }
#footer-col-2 .button, #footer-col-3 .button { font-weight: normal; font-size: 22px; text-align: center; padding: .5em 2em; }

.social { height: 54px; overflow: hidden; margin: 1em 0; }
.social a { display: block; float: left; background: url( '/images/sprite-social.png' ) 0 0 no-repeat; width: 54px; padding: 54px 0 0; margin-left: 20px; }
.social a.facebook { margin-left: 16px; }
.social a.twitter { background-position: -76px 0; }
.social a.linkedin { background-position: -152px 0; }
.social a.youtube { background-position: -229px 0; }

.pagination { margin-bottom: 1em;}

span.lifeguard-type-new {text-transform: uppercase; font-weight: bold; color:#2284a1; }
span.lifeguard-type-recert {text-transform: uppercase; font-weight: bold; color:#db423d; }
span.lifeguard-type-expired {text-transform: uppercase; font-weight: bold; color:#e4098b; }

@media only screen and (max-width: 1020px) {

	body.home { background: #fff; }
	.home header { height: auto; overflow: visible; }
	header #logo { position: static; float: none; display: inline-block; margin: 0;}
	header .actions { background: #008cd2; position: relative; padding: .5em; margin: 0; }
	header .actions .buttons { position: absolute; float: none; top: 1.5em; right: .5em; }
	header .actions .buttons .button { padding: 1em 2em; font-weight: bold; width: auto; }

	#logo { float: left; background-image: url('/images/gfl-logo-white.png' ); background-position: .25em 1em; position: static; }

	header nav.primary { position: static; background: none;  }
	header nav.primary li { float: none; margin-right: 0; list-style: none; padding: 0; margin: 0; }
	header nav.primary li a { display: block; padding: .5em 1em; color: #fff; }
	header nav.primary li.nav-register a { background: #3f4081; }
	header nav.primary li.nav-types a { background: #006f7a; }
	header nav.primary li.nav-take a { background: #db423d; }
	header nav.primary li.nav-about a { background: #008cd1; }

	header #banner-search { position: static; overflow: none; padding: 0; margin: 0; bottom: auto; border-radius: 0; }
	header #banner-search .wrap { border: 0; background: #225a91; border-radius: 0; padding: 1em 0; margin: 0; }
	header #banner-search .button { font-size: 22px; margin: 0 0 20px; padding: .3333em 1em;}
	header #banner-search h1 { margin: 0; font-size: 48px; margin: .5em 0; }
	header #banner-search form label { font-size: 30px; display: block; margin-bottom: 1em;}
	header #banner-search form input { font-size: 16px; color: #444; display: inline; width: auto; border-radius: 2em; padding: 0 1em 0 38px; margin-left: 1em; height: 38px; vertical-align: middle; background: #bfe2f4 url( '../img/icon-pin.png' ) 10px 5px no-repeat; border: 1px solid #888; box-shadow: inset -2px 1px 2px rgba(0,0,0,.5);}

	footer #copyright { background-position: center top; padding: 66px 0 0; }
	footer .row { text-align: center; }

	#sidebar { margin-top: .25em;}

	section.top-panel { background-color: #0061a5; border-radius: 0; padding: 1em;}

}

@media only screen and (max-width: 750px) {
	.container { width: 100%; }

	#callout-blog { text-align: center; margin-top: 2em; }
	#callout-blog h3 { margin-bottom: .5em; }
	#callout-blog ul li a { background: none; padding: 1em 3em; font-size: 16px; }
	#callout-blog .button { margin: 0 auto; float: none; display: inline-block; }
	#primary-callouts .columns .button { width: 75%; }

	#page-banner img {display: none;}

	footer .row { text-align: center; }
	footer .row h3 { border: 0; padding: 1em 0; background: #222; margin: 5px -.5em; }
	footer .row .social { margin: 1.5em 10%; }
	footer .row .social a { margin-left: 8px; }

	/*.social {width: 100%;}*/

	#sidebar .widget .social { text-align: center; margin: 1em 0; display: block; }
	#sidebar .widget .social a { margin-left: 8px; }

	/* Home Page Header */
	header #banner-search .button { font-size: 30px; }

	header .actions .buttons .button { padding: 1em 1em; font-weight: bold; width: auto; margin: 0; }

	#banner-search form input {margin-top: 1em;}
	#banner-search h1 {font-size: 44px;}
	#banner-search form label {font-size: 20px;}
	#banner-search .button {margin: 0 0 15px;}

	/*Page Elements*/

	#content h1 {font-size: 2em; margin-top: 1em;}
	#content h3 { padding: .5em 0;}

}


