.bg-red {
background: #db423d;
}

.top-panel { background-color: #008cd2; }

.home header { height: 10em; }

header nav.primary { position: absolute; top: 80px; right: 0; list-style: none; padding: 0; margin: 0; font-size: 16px; font-weight: bold; text-transform: uppercase; }
header nav.primary li { float: left; margin-right: 1em; list-style: none; padding: 0; margin: 0; }
header nav.primary li a { display: block; padding: .5em 1em; }


.neris, .neris, .neris p, .neris li, .neris a, h1, h2, h3, h4, h5, h6 { font-family: Neris-Regular,Helvetica,Arial,Sans-serif; }




/* Colors */
.default-blue { color: #008cd2; }
.blue { color: #0061a5; }
.green { color: #61bc47; }
.purple { color: #e4098b; }
.red { color: #db423d; }

.bg-blue { background: #0061a5; }
.bg-green { background: #61bc47; }
.bg-purple { background: #e4098b; }
.bg-red { background: #db423d; }

.panel,
.button {
	border-radius: .25em;
	border: 0;
	box-shadow: none;
	text-transform: uppercase;
}

.panel {
	margin-bottom: 0;
}



img.banner { margin: 2em 0; display: block;}


.social { height: 54px; overflow: hidden; margin: 1em 0; }
.social a { display: block; float: left; background: url('/images/sprite-social.png') 0 0 no-repeat; width: 54px; padding: 54px 0 0; margin-left: 20px; }
.social a.facebook { margin-left: 16px; }
.social a.twitter { background-position: -76px 0; }
.social a.linkedin { background-position: -152px 0; }
.social a.youtube { background-position: -229px 0; }


h2 { font-size: 30px; margin: 0; padding-bottom: .5em; }

.row .column, .row .columns {
padding-left: 1.75em;
padding-right: 1.75em;
}